<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favico -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}" type="image/x-icon">
  <title>Brutor ADMIN - Feeder</title>  
  <!-- vendor css -->
  <link href="{{ url_for('static', filename='lib/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">  
  <link href="{{ url_for('static', filename='lib/select2/css/select2.min.css') }}" rel="stylesheet">  
  <link href="{{ url_for('static', filename='lib/flatpicker/flatpickr.min.css') }}" rel="stylesheet">  
  <!-- DashForge CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dashforge.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <!-- some additional css here -->
</head>
<body>
  <div class="loader">
    <img src="{{ url_for('static', filename='assets/img/Pulse-1s-200px.gif') }}" alt="loader">
  </div>

  <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pili File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="main_form" action="{{ url_for('jadwal_upload_html') }}" method="GET" data-parsley-validate>
            <fieldset class="form-fieldset">
              <legend class="text-success">Main Form</legend>
              <div class="form-row">                           
                <div class="form-group col-md-12">
                  <label>Pili File <span class="text-danger">*</span></label>
                  <br>
                  <input type="file" required>
                </div>              
                   
              </div>    
              <button type="submit" class="btn btn-xs btn-primary mg-t-20"><i class="fas fa-paper-plane"></i> Process</button>
            </fieldset>                
          </form>
        </div>      
      </div>
    </div>
  </div>

  <!-- View Waktu -->
  <div class="modal fade" id="view_waktu" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Jadwal <span class="text-success">Feeder</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
            <fieldset class="form-fieldset">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Jadwal Feeder</label>
                  <input id="jadwalFeeder" value="" readonly type="text" class="form-control" placeholder="Jadwal Feeder">
                </div>
                <div class="form-group col-md-6">
                  <label>Rute</label>
                  <input id="rute" value="" readonly type="text" class="form-control" placeholder="Jadwal Feeder">
                </div>
                <div class="form-group col-md-6">
                  <label>Stasiun</label>
                  <input id="stasiun" value="" readonly type="text" class="form-control" placeholder="Jadwal Feeder">
                </div>
                <div class="form-group col-md-6">
                  <label>No. Bis</label>
                  <input id="noBis" value="" readonly type="text" class="form-control" placeholder="Jadwal Feeder">
                </div>              
              </div>
            </fieldset>
            <fieldset class="form-fieldset mg-t-15">
              <div class="">
                <h3 class="tx-15">Jadwal</h3>
                <ul class="list-group">                             
                </ul>
              </div>
            </fieldset>
            
          </div>
        </div>      
      </div>
    </div>
  </div>

  <aside class="aside aside-fixed">
    <div class="aside-header">
      <a href="#" class="aside-logo img-logo"><img src="{{ url_for('static', filename='assets/img/brutor_logo.png') }}" class="w-75"></a>
      <a href="" class="aside-menu-link">
        <i data-feather="menu"></i>
        <i data-feather="x"></i>
      </a>
    </div>
    <div class="aside-body">     
      <ul class="nav nav-aside">
        <li class="nav-label mg-t-25">Home</li>        
        <li class="nav-item nav-item__active"><a href="{{ url_for('jadwal_feeder_html') }}" class="nav-link"><i data-feather="compass"></i> <span>Operations</span></a></li>      
      </ul>
    </div>
  </aside>

  <div class="content pd-0">
    <div class="content-header">
      <h4 class="mg-b-0 text-primary">Operation</h4> 
      <div class="">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-sm avatar-online"><img src="{{ url_for('static', filename='assets/img/placehold.jpg') }}" class="rounded-circle" alt=""></div>
          <span class="mg-l-5 mg-r-30 font-weight-bold">Admin</span>
          <a href="" data-toggle="tooltip" title="Sign out"><i data-feather="log-out"></i><span>Logout</span></a>          
        </div>        
      </div>     
    </div>

<div class="contents-body">       
  <div class="mg-b-100">     
    <div class="mg-t-30">              
      <form action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="redirect" value="/push_notif/antrian" />
      
        <fieldset class="form-fieldset pd-x-50 field-shadow">
          <legend>
            <h1 class="font-weight-bold mg-b-0">Input <span class="text-success">Jadwal Feeder</span></h1>
          </legend>
      
          <div class="form-group row">
            <label for="channel" class="col-sm-2 col-form-label text-right">Stasiun </label>
            <div class="col-sm-10">
              <select class="custom-select" required>
                <option selected disabled value="">Select Stasiun</option>
                <option value="BlockM">BlockM</option>                
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="channel" class="col-sm-2 col-form-label text-right">Feeder </label>
            <div class="col-sm-10">
              <select " class="custom-select" required>
                <option selected disabled value="">Select Feeder</option>
                <option value="Transjakarta">Transjakarta</option>                
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="channel" class="col-sm-2 col-form-label text-right">Tujuan </label>
            <div class="col-sm-10">
              <select class="custom-select" required>
                <option selected disabled value="">Select Tujuan</option>
                <option value="Kota">Kota</option>                
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="channel" class="col-sm-2 col-form-label text-right">No. Angkutan </label>
            <div class="col-sm-10">
              <select id="stasiun" class="custom-select" required>
                <option selected disabled value="">Select Angkutan</option>
                <option value="TJ87">TJ87</option>                
              </select>
            </div>
          </div>
            
          <div class="form-group row">
            <label for="event-normal" class="col-sm-2 col-form-label text-right">Jam Berangkat</label>
            <div class="col-sm-10" style="align-self: center; max-width: 300px;">
              <div id="timepicker2" class="d-flex align-items-center">
                <input name="" data-input  type="text" class="form-control" placeholder="Selec Time" autocomplete="off" required />
                <i data-toggle id="calendar2" class="far fa-clock Fz(28px) text-primary Cur(p) mg-l-5"></i>
              </div>
            </div>
          </div>
                        
        </fieldset>
      
        <div class="mg-y-30 text-center">
          <button class="btn btn-primary pd-x-100 shadow-custom">SIMPAN</button>
        </div>
      </form>
      
      </div>
      <footer class="text-center mg-t-auto font-weight-bold">©PT Brutor Jakarta 2020</footer>       
    </div>
  </div>  

  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/feather-icons/feather.min.js') }}"></script>  
  <script src="{{ url_for('static', filename='lib/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>    
  <script src="{{ url_for('static', filename='lib/select2/js/select2.min.js') }}"></script>    
  <script src="{{ url_for('static', filename='lib/flatpicker/flatpickr.js') }}"></script>    
  <script src="{{ url_for('static', filename='assets/js/dashforge.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/dashforge.aside.js') }}"></script> 
  <script>    
    window.addEventListener('load', () => {
      const loader = document.querySelector('.loader');
      loader.classList.add('hidden');
    });       

    $('.custom-select').select2({
      width: '100%'
    })

    $(`#timepicker2`).flatpickr({
      enableTime: true,
      noCalendar: true,    
      wrap: true,
      allowInput: true
    })
    
   
</script>   
</body>
</html>

