<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>Brutor ADMIN - Pengelolaan Konten</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">

    <style>
        .card-custom {
            border: none;
            border-radius: 15px;
            transition: transform 0.2s;
        }
        .card-custom:hover {
            transform: translateY(-10px);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
        }
        .card-header-custom {
            background-color: #f8f9fa;
            border-bottom: none;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .btn-custom {
            border-radius: 50px;
        }
        .text-muted-custom {
            color: #6c757d;
        }
        .btn-info-custom {
            background-color: #17a2b8;
            border: none;
        }
        .btn-primary-custom {
            background-color: #007bff;
            border: none;
        }
    </style>
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/brutor-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                    {%if menu_item.value == 'MANAGER_CLASS' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <div class="content-header">
            <h5 class="mg-b-0 text-primary"><a href="/starter?menu_value=MANAGER_CLASS">Manager Class</a> <span style="font-weight: bolder;"><i class="fas fa-caret-right"></i> Register Class List</span></h5>
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                            class="rounded-circle" alt=""></div>
                    <div class="p-3 d-flex flex-column">
                        <span class="font-weight-bold">{{ username | safe }}</span>                        
                        <a class="" href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                                    data-feather="log-out"></i><span>Logout</span></a>
                    </div>                                            
                    <h3 class="p-3 mt-2 font-weight-bold"><a href="/user/config"><i class="fas fa-cog"></i></a></h>
                </div>
            </div>
        </div>
        
        <div class="contents-body">
            <div class="mg-b-100">             
                <div class="mg-t-60">
                    <div class="">
                        <h1 class="">Public Class</h1>
                      
                    </div>                  
                    
                    <div class="Ovy(a)--sm">
                        <div class="card-deck row">
                            {% for class_item in class_list %}

                            <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
                                <!-- Card -->
                                <div class="card card-custom shadow-sm h-100">
                                    
                                    <!-- Card Header -->
                                    {% if class_item.status_class == "OPEN" %}
                                    <div class="card-header card-header-custom d-flex justify-content-between align-items-center">
                                        <h4 class="card-title mb-0">{{ class_item.name_class }}</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-custom" data-toggle="modal" data-target="#buyModal{{ class_item.class_id }}">
                                            <i class="fas fa-shopping-cart"></i> Buy
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="card-header bg-success card-header-custom d-flex justify-content-between align-items-center">
                                        <h4 class="card-title mb-0">{{ class_item.name_class }}</h4>
                                        <h3>{{class_item.status_class}}</h3>
                                    </div>
                                    {% endif %}                                    
                                    <!-- Card content -->
                                    <div class="card-body">
                                        <!-- Creator and Status -->
                                        <h5 class="card-subtitle mb-2 text-muted-custom">
                                            <i class="fas fa-user"></i> Creator: {{ class_item.creator_name }}
                                        </h5>
                                        <h5 class="card-subtitle mb-2 text-muted-custom">
                                            <i class="fas fa-info-circle"></i> Status: {{ class_item.status_class }}
                                        </h5>
                                        <h5 class="card-subtitle mb-2 text-muted-custom">
                                            <i class="fas fa-dollar-sign"></i> Harga: {{ class_item.price_class }}
                                        </h5>
                                        <!-- Text -->
                                        <p class="card-text">{{ class_item.desc_class_preview }}</p>
                                    </div>
                                    <!-- Card Footer -->
                                    <div class="card-footer bg-transparent d-flex justify-content-between">
                                        <a href="#" class="btn btn-info btn-sm btn-custom btn-info-custom" data-toggle="modal" data-target="#infoModal{{ class_item.class_id }}">
                                            <i class="fas fa-info-circle"></i> Read more
                                        </a>
                                    </div>
                                </div>
                                <!-- Card -->                                                         
                            </div>       
                            <!-- Buy Modal -->
                            <div class="modal fade" id="buyModal{{ class_item.class_id }}" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="buyModalLabel">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to buy {{ class_item.price_class }} for clone this class?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a href="buy_public_class/{{ class_item.class_id }}" class="btn btn-primary">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Info Modal -->
                            <div class="modal fade" id="infoModal{{ class_item.class_id }}" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="infoModalLabel">Additional Information</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Add any additional information here -->
                                            {{ class_item.desc_class_html }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                     
                            {% endfor %}
                        </div>                          
                    </div>                                        
                </div>
            </div>
            <footer class="text-center mg-t-auto font-weight-bold">©Brutor a,k,a BRUTAR TUTOR</footer>
        </div>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });
      
 
    </script>

</body>
{% endautoescape %}

</html>