<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favico -->
	<link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
	<link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
	<title>Brutor ADMIN - Laporan Online</title>
	<!-- vendor css -->
	<link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
	<link href="../../static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
	<!-- DashForge CSS -->
	<link rel="stylesheet" href="../../static/assets/css/dashforge.css">
	<link rel="stylesheet" href="../../static/css/custom.css">

	<style>         
    /*
 * Off Canvas wider at sm breakpoint ------------------THIS NEW DELETE THIS COMMENT AFTER YOU BACK
 * --------------------------------------------------
 */      
	.card{
		overflow: hidden;
	}
	button.clicked{
		border: 3px solid black;
		border-radius: 3;
	}
	.btn-primary-outline{
		background-color: transparent;
		border-color: transparent;
	}

    .card-block .rotate {
      z-index: 8;
      float: right;
      height: 100%;
    }
    
    .card-block .rotate i {
      color: rgba(20, 20, 20, 0.15);
      position: absolute;
      left: 0;
      left: auto;
      right: -10px;
      bottom: 0;
      display: block;
      -webkit-transform: rotate(-44deg);
      -moz-transform: rotate(-44deg);
      -o-transform: rotate(-44deg);
      -ms-transform: rotate(-44deg);
      transform: rotate(-44deg);
    }
  </style>

	</style>
	<!-- some additional css here -->
</head>

<body class="body">
	<aside class="aside aside-fixed">
		<div class="aside-header">
			<a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/brutor-logo-white.png" class="w-75"></a>
			<a href="" class="aside-menu-link">
				<i data-feather="menu"></i>
				<i data-feather="x"></i>
			</a>
		</div>
		<div class="aside-body">
			<ul class="nav nav-aside">
				<!-- <li class="nav-label mg-t-25">Home</li> -->
				{% for menu_item in menu_list_html %}
                    {%if menu_item.value == '' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

			</ul>
		</div>
	</aside>

	<div class="content pd-0">
		<!-- Navbar Top -->
		<div class="content-header">
			<div></div>
			<div class="d-flex align-items-center justify-content-between">
				<div class="d-flex align-items-center">
					<div class="text-success font-weight-bold mr-3" id="balance"></div>
				</div>
				<div class="dropdown">
					<span class="font-weight-bold text-dark">{{ username | safe }}</span>
					<a class="dropdown-toggle ml-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user-circle fa-lg"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
						{% if user_rec.role == 'STUDENT' %}
						<div class="dropdown-item text-info">
							<i class="fas fa-user-graduate"></i> You're in Student Portal
						</div>
						{% elif user_rec.role == 'TUTOR' %}
						<div class="dropdown-item text-info">
							<i class="fas fa-chalkboard"></i> You're in Tutor Portal
						</div>
						{% elif user_rec.role == 'ADMIN' %}
						<div class="dropdown-item text-info">
							<i class="fas fa-chalkboard"></i> WELCOME BOSS
						</div>
						{% endif %}
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Profile</a>
						{% if user_rec.register_teacher == 'FALSE' %}
						<a class="dropdown-item" href="/profile"><i class="fas fa-chalkboard-teacher"></i> Become a
							Tutor</a>
						{% endif %}
						{% if user_rec.role == 'STUDENT' and user_rec.register_teacher == 'TRUE' %}
						<a class="dropdown-item" href="/profile/change_portal/tutor"><i class="fas fa-chalkboard"></i> Tutor
							Portal</a>
						{% endif %}
						{% if user_rec.role == 'TUTOR' %}
						<a class="dropdown-item" href="/profile/change_portal/student"><i class="fas fa-user-graduate"></i>
							Student Portal</a>
						{% endif %}
						<a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Sign out</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- BODY -->			
		<div class="container mt-5">
			<fieldset class="form-fieldset pd-x-50 field-shadow">
				<div class="d-flex justify-content-around">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">
						Edit Profile
					</button>
					{%if data_user.ver_email == 'FALSE'%}
					<form action="/auth/send_verification_email" method="POST" enctype="multipart/form-data" class="mx-2">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
						<input type="hidden" name="redirect" value="/profile">
						<button type="submit" class="btn btn-primary position-relative">
							<i class="fas fa-envelope"></i> Send Verification Email
						</button>
					</form>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#numberModal">
						Input Verify Number
					</button>
					{% endif %}
				</div>
			</fieldset>
		</div>
		
		<div class="contents-body">
            <form>             
                <fieldset class="form-fieldset pd-x-50 field-shadow">
                    <legend>
                        <h1 class="font-weight-bold mg-b-0">Profile</h1>
                    </legend>					
					 <!-- Flash messages section -->
						<!-- Display Flash Messages -->
						{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							<div class="flash-messages">
								{% for category, message in messages %}
									<div class="alert alert-{{ category }}">
										{{ message }}
									</div>
								{% endfor %}
							</div>
						{% endif %}
					{% endwith %}
					<div class="form-group row">																																
					</div>
					<div class="form-group row">
                        <label for="creator" class="col-sm-2 col-form-label text-right">Full Name</label>
                        <div class="col-sm-10">
                            <input name="" type="text" id="creator" value="{{data_user.name}}" class="form-control" readonly>
                        </div>
                    </div>
					<div class="form-group row">
						<label for="phone" class="col-sm-2 col-form-label text-right">No Hp</label>
						<div class="col-sm-10">
							<input name="phone" type="text" id="phone" value="{{data_user.phone}}" class="form-control" readonly>
						</div>
					</div>
                    <div class="form-group row">
                        <label for="creator" class="col-sm-2 col-form-label text-right">Username</label>
                        <div class="col-sm-10">
                            <input name="" type="text" id="creator" value="{{data_user.username}}" class="form-control" readonly>
                        </div>
                    </div>
					<div class="form-group row">
						
						{%if data_user.ver_email == 'FALSE'%}
						<label for="validationServer03" class="col-sm-2 col-form-label text-right">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control is-invalid" id="validationServer03" value="{{data_user.email}}" aria-describedby="validationServer03Feedback" readonly>
							<div id="validationServer03Feedback" class="invalid-feedback">
								Your email has not been verified.
							</div>  							                							
						</div>
						{% else %}
						<label for="validationServer02" class="col-sm-2 col-form-label text-right">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control is-valid" id="validationServer02" value="{{data_user.email}}" value="Otto" readonly>
							<div class="valid-feedback">
								Your email has been verified.
							</div>
						</div>
						{% endif %}
                    </div>
					<div class="form-group row">
                        <label for="creator" class="col-sm-2 col-form-label text-right">Join Date</label>
                        <div class="col-sm-10">
                            <input name="" type="text" id="creator" value="{{data_user.rec_timestamp_str}}" class="form-control" readonly>
                        </div>
                    </div>
                   
                </fieldset>
               
            </form>
			<p></p>
			{% if data_user.ver_email == 'TRUE' %}
				{% if data_user.summery_status_applying == "SET MEETING" %}
				<fieldset class="form-fieldset pd-x-50 field-shadow">
					<legend>
						<h1 class="font-weight-bold mg-b-0" id="tutor_section">Apply for Tutor</h1>
						<!-- Button to trigger modal -->						
					</legend>
					<div class="form-group row">
						
						
						<button type="button" class="col-sm-2 btn btn-primary" data-toggle="modal" data-target="#cvModal">
							View CV
						</button>
						<div class="col-sm-10">
							<span class="badge bg-light text-dark">"Congratulations! Your CV has been approved. Please attend the interview on the following information.</span>                            
							<h4>link meeting: <a href="{{data_user.latest_apply_rec.link_meeting}}" class="">{{data_user.latest_apply_rec.link_meeting}}</a></h4>,
							<h4>date meeting: <span>{{data_user.latest_apply_rec.date_interview_str}}</span></h4>
						</div>
						
					</div>							   
				</fieldset>
				{% elif data_user.summery_status_applying == "APPROVE"  %}
				<fieldset class="form-fieldset pd-x-50 field-shadow">
					<legend>
						<h1 class="font-weight-bold mg-b-0">HOREEEE</h1>
						<!-- Button to trigger modal -->						
					</legend>
					<div class="">										
						<h1>Congratulations You're TUTOR NOW</h1> 
						
					</div>							   
					<h2> <a href="/profile/change_portal/tutor" type="" class="">click here</a>  for change portal</h2>
				</fieldset>
				{% else %}
				<form action="/profile/send_cv" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
					<input type="hidden" name="redirect" value="{{ redirect }}">

					<fieldset class="form-fieldset pd-x-50 field-shadow">
						<legend>
							<h1 class="font-weight-bold mg-b-0">Apply for Tutor</h1>
							<!-- Button to trigger modal -->						
						</legend>
						<div class="form-group row">
							{% if data_user.summery_status_applying != "" %}
							
							<button type="button" class="col-sm-2 btn btn-primary" data-toggle="modal" data-target="#cvModal">
								View CV
							</button>
							<div class="col-sm-10">
								<h2><span class="badge bg-light text-dark">Your CV is under review, but you can still update your information below.</span></h2>							
							</div>
							{% endif %}
						</div>					
						<div class="form-group row">
							<label for="cv_user" class="col-sm-2 col-form-label text-right">Copas your CV Here</label>
							<div class="col-sm-10">
								<textarea name="cv_user" value="{{data_user.cv_user}}" class="form-control" id="cv_user" cols="5" rows="5"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label for="link_cv" class="col-sm-2 col-form-label text-right">or give me link CV</label>
							<div class="col-sm-10">
								<input name="cv_link" type="text" id="cv_link" value="{{data_user.cv_link}}" class="form-control" required>
							</div>
						</div>

						<div class="mg-y-30 text-center">
							<button class="btn btn-primary pd-x-100 shadow-custom">apply</button>
						</div>
					
					</fieldset>
				
				</form>
				{% endif %}						
				{% else %}
					<div class="card">
						<div class="mg-10">
							<div class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</div>
							<h2>Sorry for Applying for Tutor</h2>
							<p>You should verify your email and complete your data profile above.</p>					
						</div>
					</div>
				{% endif %}

			
			<!-- Modal APPLY FOR TUTOR -->
			
			<div class="modal fade" id="cvModal" tabindex="-1" role="dialog" aria-labelledby="cvModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="cvModalLabel">{{data_user.username}}'s CV  | your status: {{data_user['latest_apply_rec']['status']}}</h5>
					
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					<h6>Jakarta • {{data_user.username}} aka {{data_user.name}} • {{data_user.phone}}</h6>
					<hr>
					<h5>Summary</h5>
					<p>
						{{ data_user['cv_user_html'] | safe }}
					</p>
					<hr>
					<!-- Additional sections like Education, Experience, etc. can be added here -->
					</div>
				</div>
				</div>
			</div>			            

			<!-- Modal profile-->

			<div class="modal fade" id="editProfileModal" >
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<form action="/profile/update" method="POST" enctype="multipart/form-data">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
							<input type="hidden" name="redirect" value="{{ redirect }}">
		
							<fieldset class="form-fieldset pd-x-50 field-shadow">
								<legend>
									<h1 class="font-weight-bold mg-b-0">Profile Edit</h1>
									<!-- Button to trigger modal -->
									
								</legend>						
								<div class="form-group row">
									<label for="name" class="col-sm-2 col-form-label text-right">Name</label>
									<div class="col-sm-10">
										<input name="name" type="text" id="name"  value="{{data_user.name}}" class="form-control" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="phone" class="col-sm-2 col-form-label text-right">No Hp</label>
									<div class="col-sm-10">
										<input name="phone" type="text" id="phone" value="{{data_user.phone}}" class="form-control" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="username" class="col-sm-2 col-form-label text-right">Username</label>
									<div class="col-sm-10">
										<input name="username" type="text" id="username"  value="{{data_user.username}}" class="form-control" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="Email" class="col-sm-2 col-form-label text-right">Email</label>
									<div class="col-sm-10">
										<input name="email" type="text" id="email"  value="{{data_user.email}}" class="form-control" required>
									</div>
								</div>						
		
								<div class="mg-y-30 text-center">
									<button class="btn btn-primary pd-x-100 shadow-custom">update</button>
								</div>
							
							</fieldset>
						
						</form>
					</div>
				</div>
			</div>	

			<!-- The Modalinput verification number -->
			<div class="modal fade" id="numberModal">
				<div class="modal-dialog">
					<div class="modal-content">
		
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Please enter a 4-digit number verification code we sent to {{data_user.email}}. </h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
		
						<!-- Modal Body -->
						<div class="modal-body">
							<form id="numberForm" action="/auth/check_verification_email" method="POST">
								<div class="form-group">
									<label for="fourDigitNumber">4 Digit Number:</label>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
									<input type="text" name="unique_4_number" class="form-control" id="fourDigitNumber" maxlength="4" pattern="\d{4}" required>
									<div class="invalid-feedback">
										Please enter a 4-digit number.
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
        </div>

		


	<!-- END MAIN BODY -->

	</div>
	<!-- Atomic Watch this is just to reload the page if you make any changes to the html -->
	<!-- <script src="//localhost:35729/livereload.js"></script> -->


	<script src="../../static/lib/jquery/jquery.min.js"></script>
	<script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../../static/lib/feather-icons/feather.min.js"></script>
	<script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="../../static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../static/assets/js/dashforge.js"></script>
	<script src="../../static/assets/js/dashforge.aside.js"></script>
	<script src="../../static/js/sytem_param/port_distance_config.js"></script>
	<script src="../../static/js/pytavia-js/custom/ckeditor/ckeditor.js"></script>

	<script>
		// Function to format number as Rupiah
		function formatRupiah(value) {
			const formatter = new Intl.NumberFormat('id-ID', {
				style: 'currency',
				currency: 'IDR',
				minimumFractionDigits: 2
			});
			return formatter.format(value);
		}
		
		// Assuming user_rec.balance is passed from server to client-side as a JavaScript variable
		const userBalance = {{ user_rec.balance }};
		
		// Update the balance element with formatted value
		document.getElementById('balance').textContent = formatRupiah(userBalance);
		
		CKEDITOR.replace( 'cv_user', { customConfig : 'config_toolbar_mnc_cs.js' } );

		document.getElementById('id').scrollIntoView({
			behavior: 'smooth'
		});

	</script>




</body>

</html>