<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>Brutor ADMIN - Tambah Kontent</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <!-- LOADER -->
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <!-- VIEW IMAGE -->
    <div class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="img-prev">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="">
                    <img src="" class="imagepreview">
                </div>
            </div>
        </div>
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/brutor-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                    {%if menu_item.value == 'MANAGER_CLASS' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </aside>


    <div class="content pd-0">
        <!-- Navbar Top -->
		<div class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb align-items-center">
                <li class="breadcrumb-item active" aria-current="page">Manager Class</li>
                <li class="breadcrumb-item active" aria-current="page">Activation Class</li>
                <li class="breadcrumb-item active" aria-current="page">Activation Class Add</li>
                </ol>
            </nav>
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">			
                    <div class="text-success font-weight-bold text-balance mr-3" id="balance"></div>
                </div>
                <div class="dropdown">
                <span class="font-weight-bold text-dark">{{ username | safe }}</span>
                <a class="dropdown-toggle ml-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    {% if user_rec.role == 'STUDENT' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-user-graduate"></i> You're in Student Portal
                    </div>
                    {% elif user_rec.role == 'TUTOR' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> You're in Tutor Portal
                    </div>
                    {% elif user_rec.role == 'ADMIN' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> WELCOME BOSS
                    </div>				
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Profile</a>
                    {% if user_rec.register_teacher == 'FALSE' %}
                    <a class="dropdown-item" href="/profile"><i class="fas fa-chalkboard-teacher"></i> Become a Tutor</a>
                    {% endif %}
                    {% if user_rec.role == 'STUDENT' and user_rec.register_teacher == 'TRUE' %}
                    <a class="dropdown-item" href="/profile/change_portal/tutor"><i class="fas fa-chalkboard"></i> Tutor Portal</a>
                    {% endif %}
                    {% if user_rec.role == 'TUTOR' %}
                    <a class="dropdown-item" href="/profile/change_portal/student"><i class="fas fa-user-graduate"></i> Student Portal</a>
                    {% endif %}
                    <a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Sign out</a>
                </div>
                </div>
            </div>
        </div>


        <div class="contents-body">

            <form action="/activation_class/add" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="redirect" value="{{ redirect }}">                
                <fieldset class="form-fieldset pd-x-50 field-shadow">
                    <legend>
                        <h1 class="font-weight-bold mg-b-0">ADD ACTIVATION CLASS</h1>
                    </legend>                   
                    <div class="form-group row">
                        <label for="activation_class" class="col-sm-2 col-form-label text-right">Choice Class</label>
                        <div class="col-sm-10">
                            <select id="activation_class" class="form-control" name="class_id" required>
                                <option value="" type="hidden" selected disabled></option>
                                {% for class_item in class_list %}
                                <option value="{{ class_item.pkey }}" data-status="{{ class_item.status_class }}" data-price="{{ class_item.price_class }}" data-desc="{{ class_item.desc_class }}">{{ class_item.name_class }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="activation_class" class="col-sm-2 col-form-label text-right"></label>
                        <div class="col-sm-10" id="class_details">
                            <!-- Class details will be inserted here -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="active_class_name" class="col-sm-2 col-form-label text-right">Active Class Name</label>
                        <div class="col-sm-10">
                            <input name="active_class_name" type="text" id="active_class_name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dujul" class="col-sm-2 col-form-label text-right">Actviate Datetime</label>
                        <div class="col-sm-3">
                            <div id="datepicker" class="d-flex align-items-center">
                                <input id="datepicker" name="activate_timestamp" class="form-control" type="text" placeholder="Select Date.." data-input autocomplete="off" required>
                                <i data-toggle id="calendar2"
                                    class="fas fa-calendar-week Fz(28px) text-primary Cur(p) mg-l-5"></i>
                            </div>
                        </div>                       
                    </div>
                    <div class="form-group row">
                        <label for="student_limit" class="col-sm-2 col-form-label text-right">Student Limit</label>
                        <div class="col-sm-10">
                            <input name="student_limit" type="number" id="student_limit" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price_class" class="col-sm-2 col-form-label text-right">Price</label>
                        <div class="col-sm-10">
                            <input name="price_class" type="number" id="price_class" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="status_activation" class="col-sm-2 col-form-label text-right">Status Class</label>
                        <div class="col-sm-10">                    
                            <select id="status_activation" class="form-control" name="status_activation" required>
                                <option value="" type="hidden" selected disabled></option>                                
                                <option value="DEVELOPMENT">Development (class under maintenence)</option>
                                <option value="OPEN_REGISTRATION" >Open Registration (class its open for registration)</option>
                                <option value="RUNNING">Running (class already start)</option> 
                                <option value="FINISHED">Finished (class already finished)</option>
                            </select>
                        </div>
                    </div>  
                    <div class="form-group row">
                        <label for="can_just_test_to_pass" class="col-sm-2 col-form-label text-right">only test?</label>
                        <div class="col-sm-10">                    
                            <select id="can_just_test_to_pass" class="form-control" name="can_just_test_to_pass" required>
                                <option value="" type="hidden" selected disabled></option>                                
                                <option value="TRUE" >YES</option>
                                <option value="FALSE" >NO</option>                                
                            </select>
                        </div>
                    </div>                  
                </fieldset>

                <div class="mg-y-30 text-center">
                    <button class="btn btn-primary pd-x-100 shadow-custom">SIMPAN</button>
                </div>
            </form>
            <footer class="text-center mg-t-auto font-weight-bold">#Brutorsekarang</footer>
        </div>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/js/pytavia-js/custom/ckeditor/ckeditor.js"></script>

    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });    
        
        $( document ).ready(function() {

            const lists = [
                {
                    id: 'perusahaan',
                    placeholder: '- Perusahaan -'
                },
                {
                    id: 'posisiKonten',
                    placeholder: '- Posisi Konten -'
                },
                {
                    id: 'jenisTampilan',
                    placeholder: '- Jenis Tampilan -'
                },
            ];


            lists.forEach(list => {
                $(`#${list.id}`).select2({
                    width: '100%',
                    placeholder: list.placeholder
                })
                $(`#${list.id}`).one('select2:open', function (e) {
                    $('input.select2-search__field').prop('placeholder', 'Search');
                });
            });

            ['datepicker', 'datepicker2'].forEach(el => {
                $(`#${el}`).flatpickr({
                    enableTime: true,
                    dateFormat: "d/m/Y H:i",
                    wrap: true,
                    allowInput: true
                })
            });

            CKEDITOR.replace( 'desc_class', { customConfig : 'config_toolbar_mnc_cs.js' } );
            CKEDITOR.replace( 'pass_requirement', { customConfig : 'config_toolbar_mnc_cs.js' } );
          
                
            $('#activation_class').on('change', function() {
                console.log("cek 2")
                var selectedOption = $(this).find('option:selected');
                var status = selectedOption.data('status');
                var price = selectedOption.data('price');
                var desc = selectedOption.data('desc');

                var detailsHtml = `
                    <p><strong>Status:</strong> ${status}</p>
                    <p><strong>Price for clone this class:</strong> ${price}</p>
                    <p><strong>Description:</strong> ${desc ? desc : 'No description available.'}</p>
                `;

                $('#class_details').html(detailsHtml);
            
            });            
        });       

        // Function to format number as Rupiah
		function formatRupiah(value) {
			const formatter = new Intl.NumberFormat('id-ID', {
				style: 'currency',
				currency: 'IDR',
				minimumFractionDigits: 2
			});
			return formatter.format(value);
		}

		// Assuming user_rec.balance is passed from server to client-side as a JavaScript variable
		const userBalance = {{ user_rec.balance }};
		
		// Update the balance element with formatted value
		document.getElementById('balance').textContent = formatRupiah(userBalance); 

    </script>
</body>
{% endautoescape %}

</html>