<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>Brutor ADMIN - Pengelolaan Konten</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/brutor-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                    {%if menu_item.value == 'MANAGER_CLASS' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <div class="content-header">
            <h5 class="mg-b-0 text-primary"><a href="/starter?menu_value=MANAGER_CLASS">Manager Class</a> <span style="font-weight: bolder;"><i class="fas fa-caret-right"></i> Register Class List</span></h5>
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                            class="rounded-circle" alt=""></div>
                    <div class="p-3 d-flex flex-column">
                        <span class="font-weight-bold">{{ username | safe }}</span>                        
                        <a class="" href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                                    data-feather="log-out"></i><span>Logout</span></a>
                    </div>                                            
                    <h3 class="p-3 mt-2 font-weight-bold"><a href="/user/config"><i class="fas fa-cog"></i></a></h>
                </div>
            </div>
        </div>

        <div class="contents-body">
            <div class="mg-b-100">             
                <div class="mg-t-60">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="font-weight-bold">Register Class List</h1>
                        <a href="/register_class/register_class_add_form?redirect=/register_class" class="btn btn-sm pd-x-15 btn-primary btn-uppercase shadow-custom"><i
                                class="fas fa-plus-square mg-r-5"></i> Tambah</a>
                    </div>                  
                    
                    <div class="Ovy(a)--sm">
                        <div class="">
                            <table class="table table-striped">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>Name Class</th>
                                        <th>Creator Class</th>
                                        <th>Status Class</th>
                                        <th>Price Class</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for class_item in class_list %}
                                        <tr>
                                            <td>{{ class_item.name_class }}</td>
                                            <td>{{ class_item.creator_id }}</td>                                                                                      
                                            <td>{{ class_item.status_class }}</td>
                                            <td>{{ class_item.price_class }}</td>
                                            <td>
                                              
                                            </td>                                           
                                        </tr>
                                        
                                        <!-- MODAL -->
                                            <!-- TAYANG MODAL -->
                                               
                                            
                                            <!-- DELETE MODAL -->
                                                
                                        <!-- END MODAL -->
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="">
                    
                        <div class="d-flex justify-content-end align-items-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mg-b-0">
                                    <li class="page-item {{ prev_button.type }}">
                                        <a class="page-link" href="{{ prev_button.url }}" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item {{ prev_button.type }}"><a class="page-link"
                                            href="{{ prev_button.url }}">{{ prev_button.page }}</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                    <li class="page-item {{ next_button.type }}"><a class="page-link"
                                            href="{{ next_button.url }}">{{ next_button.page }}</a>
                                    </li>
                                    <li class="page-item {{ next_button.type }}">
                                        <a class="page-link" href="{{ next_button.url }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                            <form method="GET" action="/pengelolaan_konten/proses">
                                <input type="hidden" name="order_by" value="{{ order_by }}">
                                <input type="hidden" name="keyword" value="{{ keyword }}">
                                <input type="hidden" name="entry" value="{{ entry }}">
                                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                                <input type="hidden" name="start_date" value="{{ start_date }}">
                                <input type="hidden" name="end_date" value="{{ end_date }}">
                    
                                <div class="input-group reset mg-l-15">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Jump to page</span>
                                    </div>
                                    <div class="W(70px)">
                                        <select name="page" id="pageSearch" class="custom-select">
                                            <option selected type="hidden" disabled></option>
                                            {% for idx in range(1, block_count + 1)%}
                                            <option value="{{ idx }}">{{ idx }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="input-group-text bg-primary text-white" type="submit">Go</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="text-center mg-t-auto font-weight-bold">©PT Brutor Jakarta 2020</footer>
        </div>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });

        $(document).ready(function () {

            $('#pageSearch').select2({
                width: '100%',
                placeholder: 'Find'
            });
            //adding placeholder on the select search
            $('#pageSearch').one('select2:open', function (e) {
                $('input.select2-search__field').prop('placeholder', 'page');
            });


            $('#startDate').flatpickr({
                "dateFormat": "d/m/Y"
            })
            $('#startDate:visible').prop('readonly', false)
            $('#endDate').flatpickr({
                "dateFormat": "d/m/Y"
            })
            $('#endDate:visible').prop('readonly', false)

        });


 
    </script>

</body>
{% endautoescape %}

</html>