<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>Brutor|Register Test</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/brutor-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                    {%if menu_item.value == 'MANAGER_TEST' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <!-- Navbar Top -->
		<div class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb align-items-center">
                <li class="breadcrumb-item active" aria-current="page">Manager Test</li>
                <li class="breadcrumb-item active" aria-current="page">Register Test</li>                
                </ol>
            </nav>
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">			
                    <div class="text-success font-weight-bold text-balance mr-3" id="balance"></div>
                </div>
                <div class="dropdown">
                <span class="font-weight-bold text-dark">{{ username | safe }}</span>
                <a class="dropdown-toggle ml-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    {% if user_rec.role == 'STUDENT' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-user-graduate"></i> You're in Student Portal
                    </div>
                    {% elif user_rec.role == 'TUTOR' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> You're in Tutor Portal
                    </div>
                    {% elif user_rec.role == 'ADMIN' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> WELCOME BOSS
                    </div>				
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Profile</a>
                    {% if user_rec.register_teacher == 'FALSE' %}
                    <a class="dropdown-item" href="/profile"><i class="fas fa-chalkboard-teacher"></i> Become a Tutor</a>
                    {% endif %}
                    {% if user_rec.role == 'STUDENT' and user_rec.register_teacher == 'TRUE' %}
                    <a class="dropdown-item" href="/profile/change_portal/tutor"><i class="fas fa-chalkboard"></i> Tutor Portal</a>
                    {% endif %}
                    {% if user_rec.role == 'TUTOR' %}
                    <a class="dropdown-item" href="/profile/change_portal/student"><i class="fas fa-user-graduate"></i> Student Portal</a>
                    {% endif %}
                    <a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Sign out</a>
                </div>
                </div>
            </div>
        </div>
         <!-- Flash messages section -->
		{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="contents-body">
            <div class="">             
                <div class="">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="">Register Test List</h4>
                        <form action="/register_test" method="GET" class="mg-t-30">
                            <fieldset class="">
                                <div class="d-flex flex-wrap">
                                    <div class="form-group mg-t-8 mg-r-8">
                                        <label for="">Entries/page:</label>
                                        <br>
                                        <select name="entry" id="" class="custom-select W(80px)">
                                            {% for entry_item in entry_list%}
                                                {% if entry|string == entry_item.misc %}
                                                    <option value="{{ entry_item.misc }}" selected>{{ entry_item.misc }}</option>
                                                {% else %}
                                                    <option value="{{ entry_item.misc }}">{{ entry_item.misc }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group mg-t-8 mg-r-8">
                                        <label for="">Sort By:</label>
                                        <select name="sort_by" id="" class="custom-select ">
                                            {% for sort_by_item in sort_by_list%}
                                                {% if sort_by == sort_by_item.value %}
                                                    <option value="{{ sort_by_item.value }}" selected>{{ sort_by_item.name }}</option>
                                                {% else %}
                                                    <option value="{{ sort_by_item.value }}">{{ sort_by_item.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group mg-t-8 mg-r-8">
                                        <label for="">Order By:</label>
                                        <select name="order_by" id="" class="custom-select ">
                                            {% if order_by == "asc" %}
                                                <option value="asc" selected>Ascending</option>
                                                <option value="desc">Descending</option>
                                            {% else %}
                                                <option value="asc">Ascending</option>
                                                <option value="desc" selected>Descending</option>
                                            {% endif %}
                                        </select>
                                    </div>
    
                                    <div class="form-group mg-t-8 mg-r-8">
                                        <label for="">Keyword</label>
                                        <input id="keyword" name="keyword" value="{{ keyword }}" type="text" class="form-control ">
                                    </div>
    
    
                        
                                    <div class="form-group d-flex mg-t-auto">
                                        <button class="btn btn-info shadow-custom mg-r-8">Submit</button>
                                        <a href="/register_test" id="reset" class="btn btn-danger shadow-custom" style="color: white;">Reset</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <a href="/register_test/register_test_add_form?redirect=/register_test" class="btn btn-sm pd-x-15 btn-primary btn-uppercase shadow-custom"><i
                                class="fas fa-plus-square mg-r-5"></i> Tambah</a>
                    </div>                                    
                    <div class="Ovy(a)--sm">
                        <div class="">
                            <table class="table table-striped">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>Name Active Class</th>
                                        <th>Name Test</th>                                        
                                        <th>deadline Test</th>
                                        <th>Type Test</th>
                                        <th>Status Test</th>                                        
                                        <th>Score Min</th>                                        
                                        <th>source link</th>    
                                        <th></th>                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for test_item in test_list %}
                                        <tr>
                                            <td>
                                                {% if test_item.active_class_name == 'DELETED' %}
                                                    <span class="badge badge-danger">Deleted</span>
                                                {% else %}
                                                    {{ test_item.active_class_name }}
                                                {% endif %}
                                            </td>
                                            <td>{{ test_item.name_test }}</td>                                                                                                                               
                                            <td><span class="badge badge-primary">{{ test_item.str_end_datetime }}</span></td>
                                            <td>{{ test_item.type_test }}</td>
                                            <td><span class="badge badge-primary">{{ test_item.status_test }}</span></td>
                                            <td>{{ test_item.score_to_pass }}</td>                                            
                                            <td>{{ test_item.source }}</td>                                            
                                            <td>                                                
                                                <div class="d-flex">                                                    
                                                    <a class="dropdown-item text-primary"
                                                    href="/register_test/register_test_edit_form?test_id={{ test_item.test_id }}&redirect=/register_test&type=EDIT"><i
                                                        class="far fa-edit"></i> Edit</a>                                                                                       
                                                    <a class="dropdown-item text-primary" href="/register_test/delete?test_id={{ test_item.test_id }}&redirect=/register_test&type=DELETE">
                                                        <i class="fas fa-trash"></i> Delete
                                                    </a>   
                                                    <a href="/register_test/detail/{{test_item.test_id}}" type="button" class="btn btn-primary">
                                                        see
                                                     </a>                                               
                                                </div>
                                            </td>                                                     
                                        </tr>
                                        
                                        <!-- MODAL -->
                                            <!-- TAYANG MODAL -->
                                               
                                            
                                            <!-- DELETE MODAL -->
                                                
                                        <!-- END MODAL -->
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="">
                    
                        <div class="d-flex justify-content-end align-items-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mg-b-0">
                                    <li class="page-item {{ prev_button.type }}">
                                        <a class="page-link" href="{{ prev_button.url }}" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item {{ prev_button.type }}"><a class="page-link"
                                            href="{{ prev_button.url }}">{{ prev_button.page }}</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                    <li class="page-item {{ next_button.type }}"><a class="page-link"
                                            href="{{ next_button.url }}">{{ next_button.page }}</a>
                                    </li>
                                    <li class="page-item {{ next_button.type }}">
                                        <a class="page-link" href="{{ next_button.url }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                            <form method="GET" action="/pengelolaan_konten/proses">
                                <input type="hidden" name="order_by" value="{{ order_by }}">
                                <input type="hidden" name="keyword" value="{{ keyword }}">
                                <input type="hidden" name="entry" value="{{ entry }}">
                                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                                <input type="hidden" name="start_date" value="{{ start_date }}">
                                <input type="hidden" name="end_date" value="{{ end_date }}">
                    
                                <div class="input-group reset mg-l-15">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Jump to page</span>
                                    </div>
                                    <div class="W(70px)">
                                        <select name="page" id="pageSearch" class="custom-select">
                                            <option selected type="hidden" disabled></option>
                                            {% for idx in range(1, block_count + 1)%}
                                            <option value="{{ idx }}">{{ idx }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="input-group-text bg-primary text-white" type="submit">Go</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="text-center mg-t-auto font-weight-bold">#Brutorsekarang</footer>
        </div>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });

        $(document).ready(function () {

            $('#pageSearch').select2({
                width: '100%',
                placeholder: 'Find'
            });
            //adding placeholder on the select search
            $('#pageSearch').one('select2:open', function (e) {
                $('input.select2-search__field').prop('placeholder', 'page');
            });


            $('#startDate').flatpickr({
                "dateFormat": "d/m/Y"
            })
            $('#startDate:visible').prop('readonly', false)
            $('#endDate').flatpickr({
                "dateFormat": "d/m/Y"
            })
            $('#endDate:visible').prop('readonly', false)

        });

        // Function to format number as Rupiah
		function formatRupiah(value) {
			const formatter = new Intl.NumberFormat('id-ID', {
				style: 'currency',
				currency: 'IDR',
				minimumFractionDigits: 2
			});
			return formatter.format(value);
		}

		// Assuming user_rec.balance is passed from server to client-side as a JavaScript variable
		const userBalance = {{ user_rec.balance }};
		
		// Update the balance element with formatted value
		document.getElementById('balance').textContent = formatRupiah(userBalance);


 
    </script>

</body>
{% endautoescape %}

</html>