<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>Brutor|Tutor Approval</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/brutor-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                    {%if menu_item.value == 'MANAGER_USER' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <!-- Navbar Top -->
		<div class="content-header">
            <div></div>
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">			
                    <div class="text-success font-weight-bold mr-3" id="balance"></div>
                </div>
                <div class="dropdown">
                <span class="font-weight-bold text-dark">{{ username | safe }}</span>
                <a class="dropdown-toggle ml-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    {% if user_rec.role == 'STUDENT' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-user-graduate"></i> You're in Student Portal
                    </div>
                    {% elif user_rec.role == 'TUTOR' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> You're in Tutor Portal
                    </div>
                    {% elif user_rec.role == 'ADMIN' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> WELCOME BOSS
                    </div>				
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Profile</a>
                    {% if user_rec.register_teacher == 'FALSE' %}
                    <a class="dropdown-item" href="/profile"><i class="fas fa-chalkboard-teacher"></i> Become a Tutor</a>
                    {% endif %}
                    {% if user_rec.role == 'STUDENT' and user_rec.register_teacher == 'TRUE' %}
                    <a class="dropdown-item" href="/profile/change_portal/tutor"><i class="fas fa-chalkboard"></i> Tutor Portal</a>
                    {% endif %}
                    {% if user_rec.role == 'TUTOR' %}
                    <a class="dropdown-item" href="/profile/change_portal/student"><i class="fas fa-user-graduate"></i> Student Portal</a>
                    {% endif %}
                    <a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Sign out</a>
                </div>
                </div>
            </div>
        </div>

        <div class="contents-body">
            <div class="pd-3 mg-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb align-items-center">
                    <li class="breadcrumb-item active"><a href="starter?menu_value=MANAGER_USER">Manager User</a> </li>                                 
                    <li class="breadcrumb-item active" aria-current="page">Tutor Approval</li>                
                    </ol>
                </nav>
            </div>
            <div class="">             
                <div class="">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="">Tutor Approval</h3>
                        <form action="/tutor_approval" method="GET" class="mg-t-30">
                            <fieldset class="">
                                <div class="d-flex flex-wrap">
                                    <div class="form-group mg-t-8 mg-r-8">
                                        <label for="">Entries/page:</label>
                                        <br>
                                        <select name="entry" id="" class="custom-select W(80px)">
                                            {% for entry_item in entry_list%}
                                                {% if entry|string == entry_item.misc %}
                                                    <option value="{{ entry_item.misc }}" selected>{{ entry_item.misc }}</option>
                                                {% else %}
                                                    <option value="{{ entry_item.misc }}">{{ entry_item.misc }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group mg-t-8 mg-r-8">
                                        <label for="">Sort By:</label>
                                        <select name="sort_by" id="" class="custom-select ">
                                            {% for sort_by_item in sort_by_list%}
                                                {% if sort_by == sort_by_item.value %}
                                                    <option value="{{ sort_by_item.value }}" selected>{{ sort_by_item.name }}</option>
                                                {% else %}
                                                    <option value="{{ sort_by_item.value }}">{{ sort_by_item.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group mg-t-8 mg-r-8">
                                        <label for="">Order By:</label>
                                        <select name="order_by" id="" class="custom-select ">
                                            {% if order_by == "asc" %}
                                                <option value="asc" selected>Ascending</option>
                                                <option value="desc">Descending</option>
                                            {% else %}
                                                <option value="asc">Ascending</option>
                                                <option value="desc" selected>Descending</option>
                                            {% endif %}
                                        </select>
                                    </div>
    
                                    <div class="form-group mg-t-8 mg-r-8">
                                        <label for="">Keyword</label>
                                        <input id="keyword" name="keyword" value="{{ keyword }}" type="text" class="form-control ">
                                    </div>
    
    
                        
                                    <div class="form-group d-flex mg-t-auto">
                                        <button class="btn btn-info shadow-custom mg-r-8">Submit</button>
                                        <a href="/tutor_approval" id="reset" class="btn btn-danger shadow-custom" style="color: white;">Reset</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>                
                    </div>  
                    
                    <div class="Ovy(a)--sm">
                        <div class="">
                            <table class="table table-striped">
                                <thead class="thead-primary">
                                    <tr>
                                        <th width="20%">Name User</th>
                                        <th width="10%">Status Apply</th>
                                        <th width="40%">Record Apply</th>                                        
                                        <th width="10%">Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user_item in user_list %}
                                        <tr>
                                            <td>{{ user_item.name }}</td>
                                            <td>
                                                {% if user_item.summery_status_applying == "APPROVE" %}
                                                <span class="badge badge-success">Approved</span>
                                                {% elif user_item.summery_status_applying == "REJECTED" %}
                                                    <span class="badge badge-danger">Rejected</span>
                                                {% elif user_item.summery_status_applying == "WAITING" %}
                                                    <span class="badge badge-warning">Waiting</span>
                                                {% else %}
                                                    <span class="badge badge-info">SET MEETING</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% for application in user_item.status_applying %}
                                                    {% if application.status == "WAITING" %}
                                                        <span class="badge badge-warning">{{ application.status }}</span>
                                                    {% elif application.status == "SET MEETING" %}
                                                        <span class="badge badge-info">{{ application.status }}</span>
                                                    {% elif application.status == "APPROVE" %}
                                                        <span class="badge badge-success">{{ application.status }}</span>
                                                    {% else %}
                                                        <span class="badge badge-secondary">{{ application.status }}</span>
                                                    {% endif %}
                                                    {% if application.apply_date %}
                                                        <small class="text-muted">({{ application.apply_date }})</small>
                                                    {% endif %}
                                                    {% if application.status == "SET MEETING" and application.link_meeting %}
                                                        <small class="text-muted"> - <a href="{{ application.link_meeting }}" target="_blank">link: {{ application.link_meeting }}</a></small>
                                                    {% endif %}
                                                    <br>
                                                {% endfor %}
                                            </td>
                                                                                                                                    
                                            <td>
                                                <!-- CV Button -->
                                                <span class="badge badge-primary">
                                                    <a href="#" class="text-white" data-toggle="modal" data-target="#myModal{{ loop.index }}">
                                                        View CV
                                                    </a>
                                                </span>
                                            
                                                <!-- Approval Button -->
                                                <span class="badge badge-success">
                                                    <a href="approve_tutor/{{ user_item.user_uuid }}" class="text-white">
                                                        Approve
                                                    </a>
                                                </span>
                                            </td>
                                                                                   
                                        </tr>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myModalLabel">{{ loop.index }}CV Preview - {{ user_item.name }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ user_item.cv_user_html | safe }}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form action="/setMeeting" method="POST">
                                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                                            <input type="hidden" name="user_uuid" value="{{ user_item.user_uuid }}">
                                                            <label for="datepicker{{ loop.index }}" class="">When?</label>
                                                            
                                                                <div id="datepicker{{ loop.index }}" class="d-flex align-items-center">
                                                                    <input id="datepicker{{ loop.index }}" name="start_datetime" class="form-control" type="text" placeholder="Select Date.." data-input autocomplete="off" required>
                                                                    <i data-toggle id="calendar2"
                                                                        class="fas fa-calendar-week Fz(28px) text-primary Cur(p) mg-l-5"></i>
                                                                </div>
                                                            
                                                            
                                                                <label for="link_meeting" class="">Link Meeting</label>
                                                                <div class="">
                                                                    <input name="link_meeting" type="text" id="link_meeting"  class="form-control" required>
                                                                </div>
                                                                                                               
                                                            <button type="submit" class="btn btn-primary">Set Meeting</button>
                                                        </form>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="">
                    
                        <div class="d-flex justify-content-end align-items-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mg-b-0">
                                    <li class="page-item {{ prev_button.type }}">
                                        <a class="page-link" href="{{ prev_button.url }}" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item {{ prev_button.type }}"><a class="page-link"
                                            href="{{ prev_button.url }}">{{ prev_button.page }}</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                    <li class="page-item {{ next_button.type }}"><a class="page-link"
                                            href="{{ next_button.url }}">{{ next_button.page }}</a>
                                    </li>
                                    <li class="page-item {{ next_button.type }}">
                                        <a class="page-link" href="{{ next_button.url }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                            <form method="GET" action="/pengelolaan_konten/proses">
                                <input type="hidden" name="order_by" value="{{ order_by }}">
                                <input type="hidden" name="keyword" value="{{ keyword }}">
                                <input type="hidden" name="entry" value="{{ entry }}">
                                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                                <input type="hidden" name="start_date" value="{{ start_date }}">
                                <input type="hidden" name="end_date" value="{{ end_date }}">
                    
                                <div class="input-group reset mg-l-15">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Jump to page</span>
                                    </div>
                                    <div class="W(70px)">
                                        <select name="page" id="pageSearch" class="custom-select">
                                            <option selected type="hidden" disabled></option>
                                            {% for idx in range(1, block_count + 1)%}
                                            <option value="{{ idx }}">{{ idx }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="input-group-text bg-primary text-white" type="submit">Go</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="text-center mg-t-auto font-weight-bold">#Brutorsekarang</footer>
        </div>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });

        $(document).ready(function () {

            $('#pageSearch').select2({
                width: '100%',
                placeholder: 'Find'
            });
            //adding placeholder on the select search
            $('#pageSearch').one('select2:open', function (e) {
                $('input.select2-search__field').prop('placeholder', 'page');
            });                              

        });
        
        // Function to format number as Rupiah
		function formatRupiah(value) {
			const formatter = new Intl.NumberFormat('id-ID', {
				style: 'currency',
				currency: 'IDR',
				minimumFractionDigits: 2
			});
			return formatter.format(value);
		}

		// Assuming user_rec.balance is passed from server to client-side as a JavaScript variable
		const userBalance = {{ user_rec.balance }};
		
		// Update the balance element with formatted value
		document.getElementById('balance').textContent = formatRupiah(userBalance);
 
    </script>

</body>
{% endautoescape %}

</html>