<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favico -->
  <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
  <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
  <title>Brutor ADMIN - Komunitas</title>  
  <!-- vendor css -->
  <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">  
  <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">  
  <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
  <link href="../../static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
  
  
  <!-- DashForge CSS -->
  <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
  <link rel="stylesheet" href="../../static/css/custom.css">
  <!-- some additional css here -->
</head>
<body>
  <div class="loader">
    <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
  </div>
  <aside class="aside aside-fixed">
    <div class="aside-header">
        <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/brutor-logo-white.png" class="w-75"></a>
        <a href="" class="aside-menu-link">
            <i data-feather="menu"></i>
            <i data-feather="x"></i>
        </a>
    </div>
    <div class="aside-body">
        <ul class="nav nav-aside">
            {% for menu_item in menu_list_html %}
                {%if menu_item.value == 'COMMUNITY' %}
                    <li class="nav-item nav-item-active ">
                        <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                            <span>{{menu_item.menu_name.title()}}</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                            <span>{{menu_item.menu_name.title()}}</span></a>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>
  </aside>

  <div class="content pd-0">
    <div class="content-header">
      <h5 class="mg-b-0 text-primary">
          <a href="/starter?menu_value=COMMUNITY"> Komunitas</a> 
          <span style="font-weight: bolder;">
              <i class="fas fa-caret-right"></i> Daftar Komunitas
          </span>
      </h5>
      <div class="">
          <div class="d-flex align-items-center">
              <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                      class="rounded-circle" alt=""></div>
              <div class="p-3 d-flex flex-column">
                  <span class="font-weight-bold">{{ username | safe }}</span>                        
                  <a class="" href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                              data-feather="log-out"></i><span>Logout</span></a>
              </div>                                            
              <h3 class="p-3 mt-2 font-weight-bold"><a href="/user/config"><i class="fas fa-cog"></i></a></h>
          </div>
      </div>
    </div>

    <div class="contents-body">
      
      <div class="mg-b-100">
        <div class="mg-t-60">
          <div class="d-flex justify-content-between align-items-center">
            <h1 class="font-weight-bold mg-b-30">Daftar <span class="text-success">Komunitas</span></h1>
            <a href="/komunitas/komunitas_tambah_form" class="btn btn-sm pd-x-15 btn-primary btn-uppercase shadow-custom"><i
                      class="fas fa-plus-square mg-r-5"></i> Tambah</a>
          </div>
          <hr class="mg-t-0">
          <div class="Ovy(a)--sm">
            <table class="table table-striped" id="portList">
              <thead class="thead-primary">
                <tr>
                  <th>Komunitas</th>
                  <th>Deskripsi</th>
                  <th>Misc</th>
                  <th>Status</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                {% for each_komunitas in komunitas_list %}
                <tr>
                  <td>{{ each_komunitas.name }}</td>
                  <td>{{ each_komunitas.desc }}</td>
                  <td>{{ each_komunitas.misc }}</td>
                  <td>
                    {% if each_komunitas.status_value == "ACTIVE" %}
                      Aktif
                    {% else %}
                      Tidak Aktif
                    {% endif %}
                  </td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-success pd-y-3 dropdown-toggle" type="button" id="dropdownMenuButton"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Actions
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="/komunitas/komunitas_edit_form?fk_komunitas_id={{each_komunitas.pkey}}" class="dropdown-item text-primary">
                          <span data-feather="edit"></span> Edit
                        </a>
                        
                        <a class="dropdown-item text-danger" data-toggle="modal"
                          data-target="#komunitas-delete-{{ each_komunitas.pkey }}">
                          <i class="far fa-trash-alt mg-r-5"></i>Hapus</a>
                      </div>
                    </div>
                  </td>
                </tr>

                <!-- DELETE MODAL -->
                  <div class="modal fade" id="komunitas-delete-{{ each_komunitas.pkey }}" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Delete Komunitas</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Hapus <b>{{ each_komunitas.name }}</b> ini?
                        </div>
                        <div class="modal-footer">
                          <form method="POST" action="/komunitas/delete">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="redirect" value="/komunitas/daftar_komunitas">
                            <input type="hidden" name="fk_komunitas_id" value="{{ each_komunitas.pkey }}">
                            
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- END OF DELETE MODAL -->
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- VIEW IMAGE -->
    <div class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="img-prev">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="">
                    <img src="" class="imagepreview">
                </div>
            </div>
        </div>
    </div>

      <footer class="text-center mg-t-auto font-weight-bold">©PT Brutor Jakarta 2020</footer>       
    </div>
  </div>  

  <script src="../../static/lib/jquery/jquery.min.js"></script>
  <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/lib/feather-icons/feather.min.js"></script>  
  <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script> 
  <script src="../../static/assets/js/dashforge.js"></script>
  <script src="../../static/assets/js/dashforge.aside.js"></script>
  <script src="../../static/lib/select2/js/select2.min.js"></script>   
  <script src="../../static/lib/flatpicker/flatpickr.js"></script>
  <script src="../../static/js/sytem_param/port_distance_config.js"></script>
  <script src="../../static/lib/datatables.net/js/jquery.dataTables.min.js"></script>


  <script>
    window.addEventListener('load', () => {
      const loader = document.querySelector('.loader');
      loader.classList.add('hidden');
    });    
    
    ['datepicker', 'datepicker2'].forEach(el => {
        $(`#${el}`).flatpickr({
            enableTime: false,
            dateFormat: "d/m/Y",
            wrap: true,
            allowInput: true
        })
    });

    function alert_this()
    {
      var start_datetime = document.getElementById("start_datetime").value;
      var end_datetime   = document.getElementById("end_datetime").value;
      alert( "start : " + start_datetime + "\nend : " + end_datetime );
    }


  </script>
</body>
</html>