<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>Brutor ADMIN - Komunitas</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/brutor_logo.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                <li class="nav-item">
                    <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                        <span>{{menu_item.menu_name}}</span></a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <div class="content-header">
            <h4 class="mg-b-0 text-primary">Forum</h4>
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                            class="rounded-circle" alt=""></div>
                    <span class="mg-l-5 mg-r-30 font-weight-bold">{{ username | safe }}</span>
                    <a href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                            data-feather="log-out"></i><span>Logout</span></a>
                </div>
            </div>
        </div>

        <div class="contents-body">
            <div class="mg-b-100">
                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="#" class="btn pd-x-30 btn-primary text-white"><i class="fas fa-tv mg-r-5"></i>Aktif</a>
                        <a href="/komunitas/daftar_komentar_forum/reported?fk_forum_id={{forum_rec.pkey}}" class="btn pd-x-30 btn-white"><i class="far fa-check-circle mg-r-5"></i>Reported</a>
                    </div>
                </div>
                <div class="mg-t-10">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="font-weight-bold">Forum<span class="text-success"> Komentar</span></h1>

                    </div>                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="">
                            Komunitas : <h4><i>{{ komunitas_rec.name }}</i></h4>
                            Judul Forum : <h4><b>{{ forum_rec.judul_forum | safe }}</b></h4>

                        </div>
                        <div class="">
                            SubKomunitas : <h4><i>{{ subkom_rec.name }}</i></h4>
                            Tayang : <h4><b>{{ forum_rec.rec_timestamp_str }}</b></h4>
                        </div>
                        
                    </div>
                    
                    <hr class="mg-t-0">
                        <form action="/komunitas/daftar_komentar_forum/aktif?fk_forum_id={{forum_rec.pkey}}" method="GET" class="mg-t-30">                        
                        <input type="hidden" name="fk_forum_id" value="{{ forum_rec.pkey }}">
                        
                        <fieldset class="">
                            <div class="d-flex flex-wrap">
                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Entries/page:</label>
                                    <br>
                                    <select name="entry" id="" class="custom-select W(80px)">
                                        {% for entry_item in entry_list%}
                                            {% if entry|string == entry_item.misc %}
                                                <option value="{{ entry_item.misc }}" selected>{{ entry_item.misc }}</option>
                                            {% else %}
                                                <option value="{{ entry_item.misc }}">{{ entry_item.misc }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Sort By:</label>
                                    <select name="sort_by" id="" class="custom-select ">
                                        {% for sort_by_item in sort_by_list%}
                                            {% if sort_by == sort_by_item.value %}
                                                <option value="{{ sort_by_item.value }}" selected>{{ sort_by_item.name }}</option>
                                            {% else %}
                                                <option value="{{ sort_by_item.value }}">{{ sort_by_item.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Order By:</label>
                                    <select name="order_by" id="" class="custom-select ">
                                        {% if order_by == "asc" %}
                                            <option value="asc" selected>Ascending</option>
                                            <option value="desc">Descending</option>
                                        {% else %}
                                            <option value="asc">Ascending</option>
                                            <option value="desc" selected>Descending</option>
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Keyword</label>
                                    <input id="keyword" name="keyword" value="{{ keyword }}" type="text"
                                        class="form-control ">
                                </div>


                                <div class="form-group d-flex mg-t-auto">
                                    <button class="btn btn-info shadow-custom mg-r-8">Submit</button>
                                    <a href="/komunitas/daftar_komentar_forum/aktif?fk_forum_id={{forum_rec.pkey}}" class="btn btn-danger shadow-custom" style="color: white;">Reset</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <div class="Ovy(a)--sm">
                        <table class="table ">
                            <thead class="thead-primary">
                                <tr>
                                    <th style="width: 20%">Tanggal</th>
                                    <th style="width: 20%">Nama</th>
                                    <th style="width: 40%">Komentar</th>
                                    <th style="width: 10%">Jlh Report</th>
                                    <th style="width: 10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for each_item in comments_list %}
                                {% if each_item.type == "ROOT" %}
                                    <tr style="background-color:lightblue;">
                                {% else %}
                                    <tr>
                                {% endif %}
                                
                                    <td>{{ each_item.rec_timestamp_str }}</td>
                                    <td>{{ each_item.user_fullname }}</td>
                                    <td>
                                        {% if each_item.type != "ROOT" and keyword == "" %}
                                            <span style="color:blue;"> &nbsp;&nbsp;&nbsp;&nbsp; @{{ each_item.parent_name }}</span> {{ each_item.comment | safe }}
                                        {% else %}
                                            {{ each_item.parent_name }}</span> {{ each_item.comment | safe }}
                                        {% endif %}

                                        
                                    </td>
                                    <td>{{ each_item.report_count }}</td>
                                    <td>
                                        
                                        <a class="dropdown-item text-danger" data-toggle="modal"
                                            data-target="#comment-delete-{{each_item.pkey}}"><i
                                            class="far fa-trash-alt mg-r-5"></i> </a>
                                           
                                    </td>                                 
                                </tr>
                            
                                <!-- DELETE MODAL -->
                                    <div class="modal fade" id="comment-delete-{{each_item.pkey}}" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Komentar</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Hapus Komentar dari "{{each_item.user_fullname}}" ?
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="POST" action="/komunitas/daftar_komentar_forum/delete">
                                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                                        <input type="hidden" name="fk_forum_id" value="{{ forum_rec.pkey }}">
                                                        <input type="hidden" name="fk_comment_id" value="{{ each_item.pkey }}">

                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- END MODAL -->
                            {% endfor %}
                               

                            </tbody>
                        </table>

                    </div>
                    <div class="">

                        <div class="d-flex justify-content-end align-items-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mg-b-0">
                                    <li class="page-item {{ prev_button.type }}">
                                        <a class="page-link" href="{{ prev_button.url }}&fk_komunitas_id={{komunitas_rec.pkey}}&fk_sub_komunitas_id={{subkom_rec.pkey}}" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item {{ prev_button.type }}"><a class="page-link"
                                            href="{{ prev_button.url | safe }}">
                                        {{ prev_button.page }}</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                    <li class="page-item {{ next_button.type }}"><a class="page-link"
                                            href="{{ next_button.url | safe }}">
                                        {{ next_button.page }}</a>
                                    </li>
                                    <li class="page-item {{ next_button.type }}">
                                        <a class="page-link" href="{{ next_button.url | safe }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                            <form method="GET" action="/komunitas/daftar_komentar_forum/aktif?fk_forum_id={{forum_rec.pkey}}">
                                <input type="hidden" name="order_by" value="{{ order_by }}">
                                <input type="hidden" name="keyword" value="{{ keyword }}">
                                <input type="hidden" name="entry" value="{{ entry }}">

                                <div class="input-group reset mg-l-15">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Jump to page</span>
                                    </div>
                                    <div class="W(70px)">
                                        <select name="page" id="pageSearch" class="custom-select">
                                            <option selected type="hidden" disabled></option>
                                            {% for idx in range(1, block_count + 1)%}
                                            <option value="{{ idx }}">{{ idx }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="input-group-text bg-primary text-white" type="submit">Go</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="text-center mg-t-auto font-weight-bold">©PT Brutor Jakarta 2020</footer>
        </div>
    </div>

    
    

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script>
        
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });

        $(document).ready(function () {
            $('#pageSearch').select2({
                width: '100%',
                placeholder: 'Find'
            });
            //adding placeholder on the select search
            $('#pageSearch').one('select2:open', function (e) {
                $('input.select2-search__field').prop('placeholder', 'page');
            });
                       
        });

        $("#reset").click(function (event) {
            $('#keyword').val("");
            $('#startDate').val("");
            $('#endDate').val("");
        });

    </script>

</body>
{% endautoescape %}

</html>